<div class="container">
  <br>
  <div class="row justify-content-md-center">
    <div class="card col-8">
      <br>
      <br>
      <br>
      <canvas id="realtime1"></canvas>
    </div>
    <div class="card col-8">
      <br>
      <br>
      <br>
      <canvas id="realtime2"></canvas>
    </div>

  </div>
</div>
